body {
   font-family: "Lexend", "Tilt Neon";
   background-color: #333333;
}
html {
	font-size: 16px;
	scroll-behavior: smooth;
}
.container {
    max-width: 90%;
    margin: auto;
}
nav {
    display: flex;
	flex-direction: column;
}
.hero-section {
	text-align: center;
	margin-bottom: 6rem;
}
.about-section {
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;
	width: 70%;
	background-color: #434343;
	border-radius: 1.5rem;
}
.case-study-section {
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;
	width: 80%;
	background-color: #434343;
	border-radius: 1.5rem;
}
.project-img {
    width: 100%;
}
.case-study-img{
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 2rem;
}
.about-img {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 0;
	margin: 0;
}

.layout-project {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-top: 3rem;
	margin-bottom: 6rem;
}
.layout-recommendation {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-top: 3rem;
	margin-bottom: 6rem;
}
.layout-skills {
	width: 100%;
	display: flex;
	gap: .5rem;
	flex-wrap: nowrap;
	margin-bottom: 0;
}  
.layout-double-image {
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: .5rem;
	flex-wrap: nowrap;
	margin-bottom: 4rem;
} 

.grow1 { 
	flex-grow: 1; 
	color: #adc2ff;
	font-size: 1rem;
	font-family: Lexend;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0rem;
	text-align: center;
}

.contact-section {
	text-align: left;
	margin-bottom: 5rem;
	padding: 0;
}
.contact-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding-top: 2rem;
	gap: 1rem;
}
h1 {
	color: #adc2ff;
	font-family: Tilt Neon;
	font-size: 8vw;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 0.5rem;
	padding-top: 6rem;
	padding-bottom: 3rem;
	margin: 0;
	text-shadow: 0px 2px 25px rgba(173, 194, 255, 0.80);
}
h2 {
	color: rgba(244, 244, 244, 1);
	font-size: 2rem;
	font-family: Lexend;
	font-weight: 300;
	line-height: 1.8;
	letter-spacing: 0rem;
	padding-bottom: 0rem;
	margin: 0;
}
h3 {
	color: #adc2ff;
	font-size: 4vw;
	font-family: Tilt Neon;
	font-weight: 300;
	line-height: 1.1;
	letter-spacing: 0.5rem;
	margin: 0;
	padding-top: 6rem;
	padding-bottom: 0;
	text-shadow: 0px 2px 25px rgba(173, 194, 255, 0.80);
}
h4 {
    color: rgba(244, 244, 244, 1);
	font-size: 1.3rem;
	font-family: Lexend;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 0rem;
	padding: 0;
	margin-bottom: 2rem;
}
h5 {
	color: #adc2ff;
	font-size: 1.1rem;
	font-family: Lexend;
	font-weight: 500;
	line-height: 1.8;
	letter-spacing: 0rem;
	padding-top: 1.5rem;
	margin: 0;
}
h6 {
	font-family: Lexend;
	font-size: .65rem;
	font-weight: 300;
	color: rgba(244, 244, 244, 1);
	letter-spacing: 0rem;
	line-height: 1.9;
	padding-bottom: 2rem;
	margin: 0;
}
p {
	font-family: Lexend;
	font-size: 1rem;
	font-weight: 300;
	color: rgba(244, 244, 244, 1);
	letter-spacing: 0.1rem;
	line-height: 2.1;
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}	

.style-h3 {
	color: #adc2ff;
	font-size: 4vw;
	font-family: Tilt Neon;
	font-weight: 300;
	line-height: 1.1;
	letter-spacing: 0.5rem;
	margin: 0;
	padding-top: 6rem;
	padding-bottom: 0;
	text-shadow: 0px 2px 25px rgba(173, 194, 255, 0.80);
}
a.link {
	color: #fdfdfd;
	text-decoration: none;
}
a:visited {
	color: #fdfdfd;
	background-color: transparent;
	text-decoration: none;
}
  
a:hover {
	color: rgba(179, 106, 94, 1);
	background-color: transparent;
	text-decoration: underline;
}
.container-medium {
    max-width: 60%;
	margin: auto;
}
.container-large {
    max-width: 80%;
	text-align: center;
	margin: auto;
}
.container-small {
	max-width: 30%;
	margin: left;
}
.container_project {
	max-width: 100%;
	height: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
	padding-top: 0;
	border-radius: 2rem;
	background-color: #434343;
}
.container_recommendation {
	max-width: 100%;
	height: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
	padding-top: 0;
	border-style: solid;
	border-radius: 2rem;
	border-color: rgba(166, 90, 78, 1);
	border-width: .15rem;
}
.container-case-study-section-padding {
	padding-bottom: 2rem;
}
.container-border {
	max-width: 100%;
	height: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem;
	padding-top: 0;
	margin-bottom: 2rem;
	border-style: solid;
	border-radius: 2rem;
	border-color: rgba(166, 90, 78, 1);
	border-width: .15rem;
}

.button {
 	background-color: rgba(166, 90, 78, 1);
 	border-radius: .5rem;
  	color: rgba(244, 244, 244, 1);
	width: 94%;
  	padding: 1rem;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1rem;
	font-family: Lexend;
	font-weight: 300;
	letter-spacing: 0rem;
	transition: all 0.4s;
  	cursor: pointer;
	margin-top: 2rem;
	margin-bottom: .25rem;
}
span {
	display: block;
}
.button:hover {
  	background-color: rgba(166, 90, 78, .7);
  	color: rgba(244, 244, 244, 1);
	text-decoration: none;
}
ul.nav {
 	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	overflow: hidden;
 	background-color: #434343;
	border-radius: .5rem
}
li.nav a {
 	display: block;
  	color: rgba(244, 244, 244, 1);
	font-family: Lexend;
	font-weight: 300;
	font-size: 1.2rem;
	letter-spacing: 0rem;
  	text-align: center;
  	padding: 1rem 1.5rem;
  	text-decoration: none;
}
li.nav a:hover {
 	background-color: #141414;
	text-decoration: none;
}

a.one:link {
	color: rgba(244, 244, 244, 1);
	font-family: Lexend;
	font-weight: 300;
	font-size: 1 rem;
	letter-spacing: 0rem;
	text-decoration: none;
}
a.one:visited {color: rgba(244, 244, 244, 1)}
a.one:hover {color: rgba(166, 90, 78, 1);}

li.about {
	margin-left: .5rem;
	margin-bottom: 1rem;
	font-family: Lexend;
	font-weight: 300;
	font-size: 1rem;
	color: rgba(244, 244, 244, 1);
	letter-spacing: 0.1rem;
	line-height: 2.1;
}
li.numbered {
	margin-left: 1.5rem;
	margin-bottom: 1rem;
	padding-left: 0;
	font-family: Lexend;
	font-weight: 300;
	font-size: 1rem;
	color: rgba(244, 244, 244, 1);
	letter-spacing: 0.1rem;
	line-height: 2.1;
}
* {box-sizing: border-box}
.myPng1, .myPng2, .myPng3 {display: none}
img {vertical-align: middle;}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  padding-bottom: 3rem;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -1.5rem;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(166, 90, 78, 1);
  color: #fdfdfd;
  text-decoration: none;
}

.numbertext {
	color: #333333;
	font-family: Lexend;
	font-size: .65rem;
	font-weight: 600;
	padding: .5rem 1rem;
	position: absolute;
	top: 0;
}

.container-thanks {
	text-align: center; 
	padding-top: 3rem;
	padding-bottom: 4rem;
}
.container_bonus_table2 {
	width: 40%;
}

body:after {
    content:"\00a9 2024 Designed & Built by April Melnick";
    font-family: Lexend;
	font-weight: 300;
	font-size: 1rem;
	color: rgba(244, 244, 244, 1);
	letter-spacing: 0rem;
	line-height: 1.9;
	margin: 0;
	padding-bottom: 6rem;
	padding-left: 4rem;
}
@media only screen and (max-width : 1024px) {
	.layout-project {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
		height: auto;
		margin-top: rem
	}
	h2 {
		color: rgba(244, 244, 244, 1);
		font-size: 1.6rem;
		font-family: Lexend;
		font-weight: 300;
		line-height: 1.8;
		letter-spacing: 0rem;
		padding-bottom: 3rem;
		margin: 0;
	}
	.layout-double-image {
		flex-wrap: wrap;
		margin-bottom: 4rem;
	} 
	.container_bonus_table2 {
		width: 90%;
	}
	.case-study-section {
		width: 100%;
	}
	.container-medium {
		max-width: 90%;
		margin: auto;
	}
}

@media screen and (max-width: 480px) {
	.container {
		max-width: 90%;
	}
	.button {
		width: 90%;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	.container-medium {
		max-width: 100%;
	}
	h1 {
	font-size: 10vw;
	padding-top: 4rem;
	padding-bottom: 2rem;
	}
	h3 {
		padding-bottom: 2rem;
		padding-top: 3rem;
		font-size: 6vw;
	}
	p {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.about-section {
		margin-bottom: 2rem;
		text-align: left;
		width: 80%;
	}
	.case-study-section{
		width: 100%;
	}
	.layout-project {
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	height: auto;
	margin-top: rem
	}
	.button {
		width: 90%;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	.container_project {
		padding-bottom: 1.5rem;
		padding-top: 0;
	}
	.layout-skills {
		flex-wrap: wrap;
	}
	
}
